@import "./common/var.scss";
@import "./mixins/mixins.scss";

/* button
-------------------------- */
@include b(button) {
  display: inline-block;
  border-radius: 1px;
  width: 81px;
  height: 29px;
  font-size: 12px;
  line-height: 29px;
  box-sizing: border-box;
  color: $--color-white-text;
  outline: none;
  border: none;
  cursor: pointer;

  @include m(default) {
    background: url('./assets/button/button-cancel.svg');
    &:hover {
      background: url('./assets/button/button-cancel-hover.svg');
    }
  }

  @include m(warn) {
    background: url('./assets/button/button-sure.svg');
    &:hover {
      background: url('./assets/button/button-sure-hover.svg');
    }
  }
}