@import "./common/var.scss";
@import "./mixins/mixins.scss";

/* card-item
-------------------------- */
@include b(card-item) {
  position: relative;
  background-image: $--card-item-background;
  border: 1px solid $--card-item-border-color;
  margin: 0;
  clear: both;
  box-shadow: inset 0 0 6px 1px $--card-item-shadow-border-color;
  cursor: pointer;
  &:hover {
    border: 1px solid $--card-item-acitve-border-color;
    background-image: $--card-item-acitve-background-image; 
    box-shadow: inset 0 0 6px 1px $--card-item-shadow-border-color-hover;
    @include ee(title) {
      color: $--card-item-title-color-selected;
      background: $--card-item-title-select-background;  
    }
  }

  @include m(selected) {
    border: 1px solid $--card-item-acitve-border-color;
    background-image: $--card-item-acitve-background-image; 
    box-shadow: inset 0 0 6px 1px $--card-item-shadow-border-color-hover;
  }

  @include e(content) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  @include e(slot) {
    display: flex;
    flex: 1;
    justify-content: center;
    align-self: center;
  }

  @include e(title) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 12px;
    padding-left: 4px;
    text-align: center;
    color: $--card-item-title-color;
    height: 24px;
    line-height: 24px;
    background: $--card-item-title-background;

    @include m(selected) {
      color: $--card-item-title-color-selected;
      background: $--card-item-title-select-background;  
    }
  }
}

