@import "./common/var.scss";
@import "./mixins/mixins.scss";

/* divider
-------------------------- */
@include b(divider) {
  width: 100%;
  height: 2px;
  opacity: 0.58;
  background-image: $--divider-background-image;
}