@import "./common/var.scss";
@import "./mixins/mixins.scss";
 
/* from-item
-------------------------- */
@include b(from-item) {
  position: relative;
  width: 100%;
}

@include e(require) {
  position: absolute;
  display: inline-block;
  color: #BF222A;
  opacity: 0.85;
  top: 7px;
  left: -10px;
}

@include e(title) {
  font-size: 12px;
  height: 28px;
  line-height: 28px;
}

@include e(label) {
  flex: 1 auto;
  span {
    color: #ffffff;
    opacity: 0.6;
  }
}

@include e(tip) {
  position:absolute;
  color: #BF222A;
  font-size: 12px;
  padding: 2px 0;
  span {
    transform: scale(0.8);
  }
}

@include e(icon) {
  font-size: 8px;
  padding: 0 2px;
}