@import "./common/var.scss";
@import "./mixins/mixins.scss";

/* menu
-------------------------- */
@include b(menu-item) {
  position: relative;
  display: inline-block;
  width: 74px;
  height: 95px;
  text-align: center;
  cursor: pointer;
}

@include e(content) {
  position: relative;
  width: 74px;
  height: 95px;
  background: url('../assets/menu/menu.svg') no-repeat;
  z-index: 2;
  &:hover {
    background: url('../assets/menu/menu-active.svg') no-repeat;
    @include ee(icon) {
      * {
        background: $--menu-item-icon-background-active;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    @include ee(description) {
      text-shadow: 1px 1px 0 $--menu-item-description-text-shadow-active-color;
    }
  }
  @include when(active) {
    background: url('../assets/menu/menu-active.svg') no-repeat;
  }
}

@include e(icon) {
  * {
    font-size: 34px;
    line-height: 90px;
    background: $--menu-item-icon-background;
    -webkit-background-clip: text;
    color: transparent;
  }
  @include when(active) {
    * {
      background: $--menu-item-icon-background-active;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

@include e(description) {
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-top: -18px;
  color: $--color-white;
  text-shadow: 1px 1px 0 $--menu-item-description-text-shadow-color;

  @include when(active) {
    text-shadow: 1px 1px 0 $--menu-item-description-text-shadow-active-color;
  }
}

@include e(mask) {
    position: absolute;
    top: 7px;
    bottom: 15px;
    left: 50%;
    right: -136px;
    filter: blur(2px);
    background-image: $--menu-item-mask-background-image;
    z-index: 1;
}

@include e(arrow) {
  position: absolute;
  top: 50%;
  left: 80px;
  margin-top: -13px;
  animation:arrowMove 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  z-index: 9;
}

@keyframes arrowMove
{
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform:translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}