@import "./common/var.scss";
@import "./mixins/mixins.scss";

@include b(messagebox) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  pointer-events: none;
  overflow: hidden;
  &::after {
    content: "";
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
    }
}

@include e(container) {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  vertical-align: middle;
  width: 490px;
  height: 185px;
  padding: 30px;
  background: url('../assets/message-box/svg-tips.svg') no-repeat;
  overflow: hidden;
  pointer-events: auto;
}

@include e(closeicon) {
  position: absolute;
  right: 15px;
  top: 38px;
  font-size: 12px;
  color: #fff;
  opacity: 0.88;
  z-index: 1;
  transition: transform 0.75s;
  cursor: pointer;
  &:hover {
    transform: rotate(-180deg);
  }
}

@include e(title) {
  line-height: 50px;
  opacity: 0.88;
}

@include e(warnicon) {
  font-size: 32px;
  margin-right: 6px;
  background: linear-gradient(to bottom,#BF222A,#8C0C12);
  -webkit-background-clip: text;
  color: transparent;
  vertical-align: bottom;
}

@include e(titletext) {
  font-size: 18px;
  color: #FFFFFF;
}

@include e(contenttext) {
  opacity: 0.6;
  width: 395px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 1.5em;
  margin: 0;
  margin-left: 43px;
  letter-spacing: 1px;
  word-break: break-all;
}

@include e(footer) {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

@include e(footerbtns) {
  height: 29px;
  text-align: right;
  padding: 8px 54px;
}