@import './common/var.scss';
@import './mixins/mixins.scss';

/* select
-------------------------- */

@include b(select) {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 28px;
  background: $--select-background;
  box-sizing: border-box;
  @include e(content) {
    display: flex;
    align-items:center;
    padding-left: 12px;
    border: 1px solid $--select-border-color;
    box-shadow: 0 0 8px 1px;
    cursor: pointer;
  
    @include m(disabled) {
      cursor: not-allowed;
    }
  }
  
  @include e(left) {
    flex: 1;
    position: relative;
  }
  
  @include e(text) {
    font-size: 12px;
  }
  
  @include e(input) {
    width: 100%;
    height: 26px;
    color: $--color-white-text;
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    &::placeholder {
      color: $--color-white;
      opacity: 0.16;
    }
    @include m(disabled) {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
  
  @include e(right) {
    width: 20px;
  }
  
  @include e(arrow) {
    font-size: 14px;
    font-weight: bold;
    color: $--select-icon-color;
  }
}

/* selectDropdown
-------------------------- */
@include b(select-dropdown) {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: absolute;
  box-sizing: border-box;
  padding: 2px 0;
  overflow: hidden;
  outline: none;

  @include e(container) {
    max-height: 190px;
    background: $--select-dropdown-background;
    border: 1px solid $--select-dropdown-border-color;
    border-radius: 2px;
    overflow: auto;
    box-shadow: 0 0 9px 1px 
  }
}