.fade-in-down-enter-active, .fade-in-down-leave-active {
  transition: opacity 0.5s;
  opacity: 1;
}
.fade-in-down-enter, .fade-in-down-leave-to {
  opacity: 0;
}

.fade-in-left-enter-active, .fade-in-left-leave-active {
  transition: opacity 0.5s;
  opacity: 1;
}
.fade-in-left-enter, .fade-in-left-leave-to {
  opacity: 0;
}