@import "./common/var.scss";
@import "./mixins/mixins.scss";
 
/* empty
-------------------------- */
@include b(empty) {
  text-align: center;

  @include e(description) {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1em;
    color: $--color-white;
    opacity: 0.6;
  }
}