/* Typography
-------------------------- */
$--font-path: 'fonts' !default;

/* Colors
-------------------------- */
$--color-white: #ffffff !default;
$--color-black: #000000 !default;
$--color-white-text: rgba($color: #ffffff, $alpha: 0.88) !default;

/* bubble
-------------------------- */
$--bubble-background: #3E5373 !default;
$--bubble-border-image: linear-gradient(to right,$--bubble-background, #43556E) 1 !default;
$--bubble-content-background-image: linear-gradient(to right,rgba($color: #1B2B4B, $alpha: 1) , rgba($color: #0B1A2B, $alpha: 1)) !default;
$--bubble-triangle-border-right: rgba($color: #1B2B4B, $alpha: 1) !default;

/* button
-------------------------- */
$--button-icon-translucent-background: rgba(26,40,63,0.60) !default;
$--button-mini-border-color: #23599a !default;
$--button-mini-background-color: #092245 !default;
$--button-mini-border-hover-color: #2b7ada !default;
$--button-mini-background-hover-color: #00408d !default;
$--button-mini-warn-border-color: #d08b00 !default;
$--button-mini-warn-background-color: #463a21 !default;
$--button-mini-warn-border-hover-color: #9b7f46 !default;
$--button-mini-warn-background-hover-color: #845900 !default;

/* break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

/* card
-------------------------- */
$--card-shadow-border-color:  rgb(75,113,174) !default;
$--card-shadow-background-image: radial-gradient(50% 91%, #0C2138 47%, #030E27 91%) !default;
$--card-shadow-warn-border-color:  #650000 !default;
$--card-shadow-warn-background-image: radial-gradient(50% 91%, #0C2138 47%, #030E27 91%) !default;
$--card-image-corner-border-color: #2D4369 !default;
$--card-image-background-image: linear-gradient(90deg, #0D3869 0%, rgba(0,39,83,0.78) 49%, rgba(12,28,60,0.00) 100%) !default;
/* card-item
-------------------------- */
$--card-item-background: linear-gradient(0deg, #141F36 8%, #232E44 100%) !default;
$--card-item-acitve-background-image: linear-gradient(180deg, rgba(37,18,2,0.78) 0%, rgba(83,43,0,0.78) 100%) !default;
$--card-item-border-color: #2D4369 !default;
$--card-item-shadow-border-color: #182642 !default;
$--card-item-shadow-border-color-hover: #793F02 !default;
$--card-item-acitve-border-color: #AB7A01 !default;
$--card-item-title-color: #869FCF !default;
$--card-item-title-color-selected: #FFEFC4 !default;
$--card-item-title-background: rgba(60,74,103,0.46) !default;
$--card-item-title-select-background: rgba(7,4,1,0.46) !default;

/* collapse
-------------------------- */
$--collapse-item-color: #0051AD !default;
$--collapse-item-hover-color: #0062D3 !default;

/* divider
-------------------------- */
$--divider-background-image: linear-gradient(to right , transparent, #2D394C,transparent) !default;
$--divider-text-color-dark: rgba(89,143,248,0.00) !default;
$--divider-text-color-light: #1F3F81 !default;

/* dialog
-------------------------- */
$--dialog-outer-border-color: #B2CEFF !default;
$--dialog-outer-border-warn-color: #7E0909 !default;
$--dialog-outer-box-shadow: 0 0 15px 5px #4B71AE, rgba($color: #005DCB, $alpha: 0.5) 0px 0px 30px inset !default;
$--dialog-outer-warn-box-shadow: 0 0 6px 2px #5D2326, rgba($color: #962B31, $alpha: 0.5) 0px 0px 30px inset !default;

/* input
-------------------------- */
$--input-border-color: #2D394C !default;
$--input-background-color: #161E2B !default;
$--input-focus-border-color: #315BA3 !default;

/* list
-------------------------- */
$--list-item-background: linear-gradient(90deg, rgba($color: #003C80, $alpha: 0.5)  0%, rgba(12,28,60,0.00) 100%) !default;
$--list-item-text-shadow: #2BAAB6 !default;

/* message
-------------------------- */
$--message-success-color: #0CF1FF !default;
$--message-warning-color: #FFBA00 !default;
$--message-error-color: #EB2932 !default;
$--message-background: rgba($color: #03133E, $alpha: 0.85) !default;
$--message-border-color:  #1463B1 !default;
$--message-box-shadow-color: rgba(86,198,216,0.48) !default;

/* menu
-------------------------- */
$--menu-item-icon-background: linear-gradient(to bottom, #EEF9FF, #92DEFF) !default;
$--menu-item-icon-background-active: linear-gradient(to bottom, #FFF5DC, #FFD76F) !default;
$--menu-item-description-text-shadow-color: #004FAF !default;
$--menu-item-description-text-shadow-active-color: #1A0A04 !default;
$--menu-item-mask-background-image: linear-gradient(270deg, rgba(255,185,0,0.00) 0%, rgba(255,185,0,0.16) 45%, rgba(255,185,0,0.36) 94%) !default;

/* pagination
-------------------------- */
$--pagination-button-color: #0CF1FF !default;
$--pagination-button-background: rgba(0,97,158,0.3) !default;
$--pagination-button-box-shadow-color: rgba($color: #0B7DC5, $alpha: 0.8) !default;
$--pagination-button-border-image: linear-gradient(45deg, rgba($color: #30ACEE, $alpha: 0.5), rgba($color: #8CFCFD, $alpha: 0.5)) 1 !default;
$--pagination-button-disabled-background: rgba(0,97,158,0.15) !default;
$--pagination-button-disabled-box-shadow-color: rgba($color: #0B7DC5, $alpha: 0.5) !default;
$--pagination-number-active-color: #00F1FF !default;

/* ripple
-------------------------- */
$--ripple-color:  #0E49AD !default;

/* select
-------------------------- */
$--select-background: #161E2B !default;
$--select-border-color: #2D394C !default;
$--select-icon-color: #D8D8D8 !default;
$--select-dropdown-background: rgba($color: #0D1420, $alpha: 0.9) !default;
$--select-dropdown-border-color: #273959 !default;
$--option-acitve-background-image: linear-gradient(90deg, rgba($color: #042E6E, $alpha: 0.9) 1%, rgba(12,28,60,0.00) 100%) !default;
$--option-card-background: #0E1521 !default;
$--option-card-border-color: #082E67 !default;
$--option-card-acitve-border-image: linear-gradient(45deg, #95670F, #7E4A00) 1 !default;
$--option-card-title-color: rgba($color: #ffffff, $alpha: 0.7) !default;
$--option-card-title-background: rgba($color: #092042, $alpha: 0.46) !default;
$--option-card-title-select-background: rgba($color: #7E4A00, $alpha: 0.46) !default;
$--option-card-triangle-color: #95670F !default;
$--option-card-icon-color: #0E1521 !default;

/* search
-------------------------- */
$--search-text-color: #ADC6F7 !default;
$--search-text-shadow-color: #14213B !default;
$--search-background-image: linear-gradient(0deg, #052763 0%, #033E83 100%) !default;
$--search-background-image-hover: linear-gradient(0deg, #05389C 9%, #0758B5 90%) !default;

/* scrollbar
-------------------------- */
$--scrollbar-thumb-background: #2C3649 !default;
$--scrollbar-track-background: transparent !default;

$--breakpoints: (
  'xs' : (max-width: $--sm),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);
